<a href="https://colab.research.google.com/github/forfourr/test-repo/blob/main/Library(Numpy%2C_Pandas).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Numpy

In [ ]:
import numpy as np      #aliasing

In [ ]:
arr = np.array([1,2,3,4])        #numpy arry
print(arr)
print(type(arr))        #type이 다름 -> 일반배열보다 용량이큼

- Aarry

In [ ]:
#zeors
np.zeros((3,4))

In [ ]:
# ones
np.ones((2,2))

In [ ]:
#empty
np.empty((4,4))

In [ ]:
#arrange
print(np.arange(10))
print(np.arange(1,10))
print(np.arange(1,14,2))

In [ ]:
#ndarray    배열의 모양, 차수, 타입
arr = np.array([[1,2,3],[4,5,6]])   #2X3
print(arr)
print(arr.ndim)     #차원확인
print(arr.shape)    #2X3
print(arr.dtype)    #data type

In [ ]:
arr_int = np.array([1,2,3,4])
print(arr_int.dtype)

arr_flt = arr_int.astype(np.float64)    #실수형으로 변환환
print(arr_flt)

In [ ]:
#배열의 연산

arr1 = np.array([[1,2],[3,4]])
arr2 = np.array([[5,6],[7,8]])

print(arr1+arr2)    #np.add(arr1,arr2)
print(arr2-arr1)
print(arr1*arr2)

In [ ]:
#array slicing

arr = np.array([[1,2,3],
               [4,5,6],
               [7,8,9]])
print(arr[0,2])

In [ ]:
arr_1 = arr[:2,1:3]
print(arr_1)

In [ ]:
idx = arr>3
print(idx)

In [ ]:
arr[idx]    #조건에 맞는 것만

- upload file

In [ ]:
redwine = np.loadtxt(fname = 'winequality-red.csv',
                        delimiter=';',   #구별자가 ;임을 알려줌 (default = ,)
                        skiprows=1)      #1번째줄(속성)은 건너 뜀

### 기초 통계 함수

- sum 합계
- mean 평균
- std 표준편차
- var 분산
- min 
- max

In [ ]:
#axis =0 : 행마다, axis=1 : 열마다
print(redwine.sum(axis=0))
print(redwine.mean(axis=0))

In [ ]:
#col min, max
print(redwine.max(axis=0))
print(redwine.min(axis=0))

# Pandas

In [ ]:
import pandas as pd
from pandas import Series, DataFrame

In [ ]:
fruits = Series([2500,3800,1200,6000], index=['apple','banana','peer','cherry'])
print(fruits)

In [ ]:
print(fruits.values)

In [ ]:
#Dict object -> Series
fruitData = {'apple': 2500,
            'banana': 3800,
            'peach': 4000,
            'peer': 1500}      #dict

print(type(fruitData))
fruit_series = Series(fruitData)
print(type(fruit_series),fruit_series)

In [ ]:
#naming
fruit_series.name = 'fruitPrice'
fruit_series.index.name = 'Name'
print(fruit_series)

- DataFrame

In [ ]:
#DataFrame = Series객체가 여러개 묶여서 만들어짐

#DataFrame - value가 list로 되어있음음
fruitData = {'fruitName' : ['apple','banana','peach','peer'],
            'fruitPrice' : [2500, 3800, 4000, 1500],
            'num' : [10, 5, 3,8]}

In [ ]:
DataFrame(fruitData)

In [ ]:
# 칼럼 순서 정하기
fruitFrame = DataFrame(fruitData, columns=['fruitPrice','num','fruitName'])
fruitFrame

In [ ]:
# 원하는 값만 뽑아내기
fruitName = fruitFrame['fruitName']
print(fruitName)
#fruitFame.fruitName 으로 속성처럼 가져오는 것도 똑같다.

In [ ]:
var = Series([4,2,1],index=[0,2,3])     #index =1자리엔 NaN(Null)
fruitFrame['stock'] = var
fruitFrame

In [ ]:
#데이터 구조에서 항목 삭제
fruit = Series([2500,3800,1200,6000],index = ['apple','banana','peach','cherry'])
fruit

In [ ]:
#특정 index 삭제하기
new_fruit = fruit.drop('banana')    #fruit에는 banana가 있음
new_fruit

In [ ]:
fruitDataFrame = DataFrame(fruitData,
                           index=fruitData['fruitName'],
                           columns = ['fruitPrice','num'])
fruitDataFrame

In [ ]:
#DataFrame Slicing

fruitDataFrame['banana':]

- 데이터의 연산

In [ ]:
# Series
series1 = Series([5,9,10,3], index=['a','b','c','d'])
series2 = Series([3,2,9,5,10], index=['a','e','f','b','j'])

print(series1)
print(series2)

In [ ]:
#index 일치하는 것만 연산됨
series1 + series2

In [ ]:
#DataFrame
data1 = {'Ohio':[4,8,3,5],
       'Texas': [1,2,3,4]}
data2 = {'Ohio': [5,7,1,7,5],
       'Boston': [3,3,3,3,3]}
df1 = DataFrame(data1, columns=['Ohio','Texas'], index=['a','b','c','d'])
df2 = DataFrame(data2, columns=['Ohio','Boston'], index=['c','d','e','f','e'])

print(df1)
print(df2)

In [ ]:
df1 + df2

- 정렬

In [ ]:
#Series 정렬
series1.sort_values(ascending=True)     #오름차순

In [ ]:
#Data Frame 정렬렬
fruitDataFrame

In [ ]:
#index 기준 정렬렬
fruitDataFrame.sort_index(ascending =False)

In [ ]:
fruitDataFrame.sort_values('num',ascending=False)

### 기초 통계 분석


*   count
*   min, max
*   comprod
*   mean
- median
- quantile
- var
- std
- describe

In [ ]:
german_sample = pd.read_csv('http://freakonometrics.free.fr/german_credit.csv')

In [ ]:
type(german_sample)

In [ ]:
list(german_sample.columns.values)

In [ ]:
sample = german_sample[['Creditability','Duration of Credit (month)','Purpose','Credit Amount']]

In [ ]:
#count : NA를 제외한 개수

In [ ]:
#min max
print(sample.min())
print(sample.max())

In [ ]:
#comprod : 누적합

In [ ]:
#mean : 평균
sample.mean()

In [ ]:
#median : 중앙값

In [ ]:
#quantile : 분위수

In [ ]:
#var : 표본분산

In [ ]:
#std : 표본 정규 분산

In [ ]:
#describe : 요약 통계량
sample.describe

In [ ]:
#상관관계 correlation
sample2 = german_sample[['Duration of Credit (month)',
                        'Credit Amount',
                        'Age (years)']]
sample2.corr()

- group by

In [ ]:
sample3 = german_sample[['Credit Amount',
                         'Type of apartment']]

sample3.head()

In [ ]:
grouped = sample3['Credit Amount'].groupby(sample3['Type of apartment'])
grouped.mean()

In [ ]:
sample4 = german_sample[['Credit Amount',
                         'Type of apartment',
                         'Purpose']]
grouped_4 = sample4['Credit Amount'].groupby([sample4['Purpose'],   #groupby안에는 list형태!!
                                             sample4['Type of apartment']])

grouped_4.mean()    #다중그룹

In [ ]:
#apartment 별로 그룹을 나누어서 출력한다.
#그룹간의 차이를 보여줌
sample5 = german_sample[['Type of apartment',
                         'Sex & Marital Status',
                         'Credit Amount']]

for i in sample5.groupby('Type of apartment'):
    print(i)
    print('-----------------')

# seaborn

In [ ]:
import seaborn as sns
planets = sns.load_dataset('planets')
planets.shape

In [ ]:
planets.dropna().describe()

In [ ]:
births = pd.read_csv('https://raw.githubusercontent.com/jakevdp/data-CDCbirths/master/births.csv')

In [ ]:
#행 추가
births['decade'] = births['year']//10*10

In [ ]:
#그래프 만들기
births.pivot_table('births',
                   index = 'decade',
                   columns ='gender',
                   aggfunc='sum')

In [ ]:
births.pivot_table('births',
                   index = 'year',
                   columns ='gender',
                   aggfunc='sum').plot()